@import "../mixins/index";

.grid {
    display: grid;
    &__layout {
        @extend .grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1rem;
        @include grid-generator(12);
        &--10 {
            grid-template-columns: repeat(10, 1fr);
            @include grid-generator(10);
        }

        @for $i from 1 through 10 {
            &.gap-#{$i} {
                grid-gap: #{$i}rem;
            }
        }
    }

    &--no-gutter {
        grid-gap: 0;
    }
}
