.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    border-spacing: 0px;
    border-collapse: inherit;
    &__header {
        th {
            padding: 15px 20px;
            font-weight: 600;
            text-align: left;
            // TODO: Add to colors variable
            color: #000000;
            background-color: #f5f5f5;
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;

            &:first-of-type {
                border-radius: 4px 0px 0px 4px;
                border-left: 1px solid #e2e2e2;
            }
            &:last-of-type {
                border-radius: 0px 4px 4px 0px;
                border-right: 1px solid #e2e2e2;
            }
            button {
                padding-left: 3px;
                cursor: pointer;
            }
        }
    }
    &__row {
        position: relative;
        border-bottom: 1px solid #e2e2e2;
        td {
            padding: 15px 20px;
            font-size: 12px;
            vertical-align: middle;
            &:not(:only-of-type) {
                border-bottom: 1px solid #dfe0eb;
            }
        }
    }
}

.skeleton {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__shimmer {
        height: 42px;
        min-width: 250px;
        background: linear-gradient(
            to right,
            #eff1f3 4%,
            #f8f9fb 25%,
            #eff1f3 36%
        );
        background-size: 1000px 100%;
        animation: shimmer 3s infinite linear;
        margin-bottom: 1rem;
        &--sm {
            min-width: 60px;
            margin-left: 1rem;
        }
        &--lg {
            max-width: 400px;
            height: 24px;
        }
        &--slim {
            height: 24px;
            max-width: 350px;
        }
    }
    &__head {
        height: 54px;
        background: linear-gradient(
            to right,
            #eff1f3 4%,
            #f8f9fb 25%,
            #eff1f3 36%
        );
        background-size: 1000px 100%;
        animation: shimmer 1s infinite linear;
        margin-bottom: 2rem;
    }
    &__row {
        border-bottom: 1px solid #f8f9fb;
        display: flex;
        justify-content: stretch;
        align-items: center;
        margin-bottom: 12px;
    }
    &__item {
        height: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        background: linear-gradient(
            to right,
            #eff1f3 4%,
            #f8f9fb 25%,
            #eff1f3 36%
        );
        background-size: 1000px 100%;
        flex-grow: 1;
        animation: shimmer 2s infinite linear;
        &:not(:last-of-type) {
            margin-right: 50px;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}
